
#logo{ 
float:left; 
margin-left:165px; 
width:175px; 
height:175px; 
margin-right: 10px; 
margin-bottom:10px; 
margin-top: 10px; 
} 

div.log{ 
font-size: 125%; 
max-width:960px; 
margin: 0 auto; 
margin-top:20px; 
padding:10px; 
background-color:#FFAE00; 
color: #000000; 
display:flex; 
justify-content:space-around; 
align-items:center; 
flex-wrap:wrap; 
} 

div.log2{ 
font-size: 125%; 
max-width:960px; 
margin: 0 auto; 
margin-top:20px; 
padding:10px; 
background-color:#FFAE00; 
color: #000000; 
} 

table
{
	border: 1px solid black;
	width: 100%; 

}

td
{
	border: 1px solid black;
}

tr.even { 
background: #88CC4B; 
} 

footer.b{ 
width:100%; 
background-color:#FFAE00; 
padding: 10px; 
height: 10px; 
}